<!-- src/app/about-restaurant/about-restaurant.component.html -->
<div class="about-restaurant-container">
  <h2>About Our Restaurant</h2>

  <div class="restaurant-image-container">
    <img
      src="../../../assets/royal.jpg"
      alt="Restaurant Image"
      class="small-image"
    />
  </div>

  <p>
    Welcome to Royal Chicken, where we serve delicious meals with a touch of
    passion and excellence. Our restaurant has been a staple in the community
    for 1 years, bringing people together over great food and warm hospitality.
  </p>

  <h3>Our History</h3>
  <p>
    Founded in 2023, our restaurant has a rich history rooted in Beirut. Over
    the years, we've evolved to meet the culinary preferences of our valued
    patrons while maintaining our commitment to quality and authenticity.
  </p>

  <h3>Our Mission</h3>
  <p>
    At Royal Chicken, our mission is to let u eat safe. We strive to create a
    dining experience that goes beyond just satisfying hunger. We aim to provide
    a welcoming atmosphere, attentive service, and, most importantly, flavors
    that delight your taste buds.
  </p>
</div>
