<!-- src/app/home/home.component.html -->
<div class="home-container">
  <div class="content-container">
    <div class="introduction">
      <h1>Welcome to Royal Chicken</h1>
      <p>
        Discover a culinary journey like no other. Our chefs craft delicious
        dishes using the finest ingredients, providing you with an unforgettable
        dining experience.
      </p>
    </div>
    <div class="image-container">
      <img src="../../../assets/home.jpg" alt="Introduction Image" />
    </div>
  </div>
</div>
