<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Royal Chicken</a
    >
    <div class="d-flex justify-content-end">
      <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"
        >Contact</a
      >
      <a class="nav-link" routerLink="/about" routerLinkActive="active"
        >About</a
      >
      <a class="nav-link" href="assets/menu.jpg">Download Menu</a>
    </div>
  </div>
</nav>
